<div class="container">
  <div class="l-container">
  <% @cocktails.each do |cocktail| %>
      <a href="<%= cocktail_path(cocktail) %>">
         <div class="b-game-card">
            <div class="b-game-card__cover" style="background-image: url(<%= cocktail.url %>);">

                <p><%= cocktail.name.split(' ')[0].upcase %><br>
                 <%= cocktail.name.split(' ')[1].upcase if cocktail.name.split(' ').size == 2 %></p>

            </div>
          </div>
        </a>
    <% end %>
  </div>
</div>

<div class="floating-button">
  <%= link_to 'Add Cocktail', new_cocktail_path %>
</div>
