<div id="show_product" class="container d-flex flex-row align-items-center py-6">
  <div class="container">
   <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill %>
  </div>
  <div class="container">
    <h1 class="title_show"><%= @cocktail.name %></h1>
    <div class="doses-box">
      <% @doses.each do |dose| %>
      <div class="ingredient-tile">
        <p><%= dose.ingredient.name %> - <%= dose.description %><%= link_to raw('<i class="fas fa-times"></i>'), dose_path(dose), {method: :delete, } %></p>
      </div>

      <% end %>
    </div>
    <h4>Add Ingredients</h4>
    <%= simple_form_for [@cocktail, @dose] do |f|  %>
      <%= f.input :description, required: true%>
      <%= f.input :ingredient, collection: @ingredients, required: true %>
      <%= f.submit 'Add Dose', id: 'my-button' %>
    <% end %>
    <%= link_to 'Back', root_path %>
  </div>

</div>
  <div class="container review-form">
    <h1>Reviews</h1>
    <div class="container review-container">
      <% @cocktail.reviews.each do |review| %>
      <div class="review-card">
        <p> <%= review.content %> </p>
          <P>
            <% review.rating.times do  %>
             <i class="fas fa-cocktail"></i>
            <% end %>
          </P>
      </div>
      <% end %>
    </div>
    <h4>Add Review</h4>
    <%= simple_form_for [@cocktail, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating,  collection: (0..5).to_a%>
      <%= f.submit id: 'my-button' %>
    <% end %>
    <%= link_to 'Back', root_path %>
  </div>

