<!DOCTYPE html>
<html>
  <head>
    <title>Mr. Cocktail - Andre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="floating-button">
      <%= link_to 'Add Cocktail', new_cocktail_path %>
    </div>
    <%= render 'header' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
